@font-face {
    font-family: 'Kalam';
    src: local("Kalam"),url(./fonts/Kalam-Bold.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.kalam {
    font-family: "Kalam";
}
