* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: auto;
  background-color: rgb(211, 211, 211);
}
.nav {
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);

}
p {
  font-family: helvetica, arial, sans-serif;

}
.links {
    height: 25px;
}
.links a {
  font-family: "Trade Winds", arial, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 5px;
  margin-left: 5px;
 
}
.header {
  /*background-color: rgb(124, 167, 216);*/
  background-image: url(./images/hero2.jpg);
  background-size: 100%;
  background-position: center center;
  height: 400px;
}
h1 {
  font-size: 35px;

}
.header span {
  background-color: rgb(64, 64, 117);
  color: white;
  display: inline-block;
  width: 260px;
  height: 45px;
  text-align: center;
  

}
.logo {
  margin-left: 60px;

}

/*.header span h1 {
  margin-top: 5%;
}*/


.links {
  margin-right: 100px;
  margin-top: 15px;
}

.heroInfo01 {
  margin-top: 100px;
  margin-left: 50%;
  margin-right: 10%;
  text-align: center;
  color: white;
}
.main {
  height: auto;
}
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.cardContainer {
  z-index: 10;
  width: 250px;
  margin-top: -50px;
}

.cardTop img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
  margin-left: 45px;
}
#card01 img {
  margin-left: 0px;
}

#card03 img {
  margin-left: 90px;
}

.cardBottom {
  background-color: white;
  margin-top: -85px;
}
.emptyCardSpace {
  height: 100px;
}
.cardBottom p {
  margin: 5px;
}
.cardBottomFirstText {
  font-size: 20px;
}
.footer {
  background-color: rgb(124, 167, 216);
  height: 100px;
  z-index: 20;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}
.footerInfo {
  margin: 10px 50px;
}
@media screen and (max-width: 700px) {
  .heroInfo01 {
    margin-left: 10%;
    margin-right: 10%;
  }
  .header {
    height: 240px;
  }
  .nav {
    display: block;
    text-align: center;
  }
  .logo {
    margin-left: 0;
  }
  .links {
    margin-right: 0;
    margin-top: 5px;
  }
  .footer {
    display: block;
    text-align: center;
    height: auto;
  }
  .footer h2 {
    margin-top: 10px;
  }
  #card01 img {
    margin-left: 45px;
  }
  #card03 img {
    margin-left: 45px;
  }
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
  #card01card {
    margin-bottom: 50px;
  }
  #card02card {
    margin-bottom: 50px;
    order: -1; /*Mittenkortet får första platsen i kolumn-flex containern.*/
  }
  .heroInfo01 {
    margin-top: 50px;
  }
}
@media print
{    
    .header, .footer
    {
        display: none !important; /*Hides the header and footer when printing.*/
    }
}