* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  padding: 0 !important;
  opacity: 0.5;
  height: 40px;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  height: 40px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: rgb(254, 248, 185) !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: rgb(254, 248, 185);
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
  margin-right: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/*--banner--*/

.back_video {
  position: relative;
  right: 0%;
  bottom: 0%;
  min-width: 100%;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -50px;
}

.image_skull {
  z-index: 2;
  position: absolute;
  width: 22%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoName {
  z-index: 5;
  position: absolute;
  width: 60%;
  margin-top: 45%;
  opacity: 0.75;
}

.glowing-circle_1 {
  z-index: 3;
  position: absolute;
  left: 47.7%;
  width: 7px;
  height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 21.5%;
  background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

.glowing-circle_2 {
  z-index: 3;
  position: absolute;
  left: 54%;
  width: 7px;
  height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 21.8%;
  background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #f0f, 0 0 4px #0ff,
      0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width: 800px) {
  .glowing-circle_1 {
    width: 3.5px;
    height: 3.5px;
  }
  .glowing-circle_2 {
    width: 3.5px;
    height: 3.5px;
  }
}

#banner {
  margin-bottom: -7px;
  background-attachment: fixed;
  background-position: left top;
  background-size: 100% 750px;
  color: white;
}

li {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  /*margin: -3px 0px 0px 15px;  */
}

ul {
  position: absolute;
  width: 100%;
  z-index: 4;
}
.navbar-nav {
  justify-content: center;
  padding: 0;
}

.col-md-12 {
  padding: 0;
}

/*--about section--*/

#about-us {
  background-image: linear-gradient(to right, #363037, #4e4f38);
  color: white;
  padding-top: 5%;
  height: 1000px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #about-us {
    height: 800px;
  }
}

@media only screen and (max-width: 900px) {
  #about-us {
    height: 700px;
  }
}

@media only screen and (max-width: 800px) {
  #about-us {
    height: 650px;
  }
}

@media only screen and (max-width: 780px) {
  #about-us {
    height: 1000px;
  }
}

@media only screen and (max-width: 650px) {
  #about-us {
    height: 900px;
  }
}

/*- Gallery -*/

.photo-gallery {
  color: #313437;
  background-color: rgb(33, 31, 31);
}

.photo-gallery br {
  color: #313437;
  background-color: rgb(33, 31, 31);
}

p {
  color: rgba(254, 248, 185, 0.4);
}

h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
  color: rgba(254, 248, 185, 0.4);
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

@media (max-width: 740px) {
  li {
    margin: auto;
  }
  .navbar-nav {
    background-color: black;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.item img {
  width: 85%;
  margin: 0 10px;
  border: 1px solid rgba(254, 248, 185, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(130, 130, 130, 0.19);
}

.logo {
  margin-top: 20px;
}
.navbar:hover {
  opacity: 0.8;
}
a:hover {
  opacity: 0.8;
  /* More of a button effect.
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(240, 240, 240, 0.19);
  border: 1px solid white;
  */
}

/*-About section-*/

.aboutText {
  color: rgba(254, 248, 185, 0.4);
  background-color: transparent;
  background-image: none;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  margin: auto;
}

#about-p {
  margin: 0px 30px 30px 30px;
  width: 85%;
  margin: auto;
  text-align: center;
}

.aboutImg {
  max-width: 80%;
  height: auto;
  border: 1px solid rgba(254, 248, 185, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.col-md-8 {
  padding: 0;
}

.col-md-6 {
  padding: 0;
}

.col-md-4 {
  padding: 0;
}

/*--testimonials section--*/

#testimonials {
  background-image: linear-gradient(to right, #1d1d1d, #434343);
  color: white;
  padding-top: 5%;
  height: 600px;
  width: 100%;
}
.testimonialsText {
  color: rgba(254, 248, 185, 0.4);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(254, 248, 185, 0.1);
}
.testimonialsText p {
  width: 80%;
  margin: auto;
}
.testimonialsName {
  text-align: right;
}
@media only screen and (max-width: 1200px) {
  #testimonials {
    height: 600px;
  }
}
@media only screen and (max-width: 560px) {
  #testimonials {
    height: 800px;
  }
}

/*--Contact Section--*/

#contact {
  background-image: linear-gradient(to right, #262724, #5b5c55);
  color: white;
  padding-top: 5%;
  height: 1000px;
  width: 100%;
}

.contactText {
  color: rgba(254, 248, 185, 0.4);
  text-shadow: 1px 1px 1px #000000;
  margin: auto;
}

.contactText p {
  text-align: left;
  margin-left: 50px;
}

@media only screen and (max-width: 1300px) {
  #contact {
    height: 800px;
  }
}

@media only screen and (max-width: 1200px) {
  #contact {
    height: 700px;
  }
}

@media only screen and (max-width: 900px) {
  #contact {
    height: 600px;
  }
}

@media only screen and (max-width: 780px) {
  #contact {
    height: 800px;
  }
}

@media only screen and (max-width: 650px) {
  #contact {
    height: 700px;
  }
}

@media only screen and (max-width: 500px) {
  #contact {
    height: 600px;
  }
}

/*--line--*/

.line {
  z-index: 2;
  margin-top: 0px;
  height: 12px;
  background-color: rgb(0, 0, 0);
}

.line_2 {
  z-index: 2;
  margin-top: 0px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

/*--footer--*/

.footer {
  height: 25px;
  background-color: rgb(35, 33, 33);
}
.footer p {
  text-align: center;
  margin-bottom: 15px;
}
