html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;

}
body {
  height: 100%;
  overscroll-behavior-y: none;
  overflow: auto;
  touch-action: pan-down;
  max-width: 100%;
  overflow-x: hidden;

}
canvas {
  margin-top: -400px;
  height: 100%;
  width: 99%;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}
@font-face {
  font-family: Playbill;
  src: url("./fonts/Playbill_Regular.ttf") format("truetype");
}
input:focus {
  outline: none;
}
#mainBody {
  background-color: black;
  background: url("./images/bg01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  
  
}

#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;


}
#page02Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  display: none;
  text-align: center;

}

#page03Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  z-index: 5;
  margin-top: 40px;
  text-align: center;
  display: none;



}
#page04Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;

  z-index: 5;
  margin-top: 40px;
  text-align: center;
  display: none;
}
#page05Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;

  z-index: 5;
  margin-top: 40px;
  text-align: center;
  display: none;
}
#pageResultContainer, #pageFixContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;

  z-index: 5;
  margin-top: 40px;
  text-align: center;
  display: none;
}
#mainContainer h1 {
  font-family: Playbill;
  font-size: 80px;
  color: rgb(255, 153, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 3;
}

h2 {
  font-family: Playbill;
  font-size: 40px;
  color: rgb(255, 153, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 3;
  text-align: left;
  margin-left: 6%;
}
h4 {
  font-size: 16px;
  color: rgb(255, 153, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 3;
  margin-top: 630px;
  margin-left: 22px;
}

#page02Container p {
  color: rgb(255, 218, 162);
  margin-top: -10px;
  font-size: 22px;
  font-weight: 400;

  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 22px;
  width: 85%;
}
#page03Container p {
  color: rgb(255, 218, 162);
  margin-top: -10px;
  font-size: 22px;
  font-weight: 400;

  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 22px;
  width: 85%;
}
#page04Container p {
  color: rgb(255, 218, 162);
  margin-top: -10px;
  font-size: 22px;
  font-weight: 400;

  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 22px;
  width: 85%;
}
#page05Container p {
  color: rgb(255, 218, 162);
  margin-top: -10px;
  font-size: 22px;
  font-weight: 400;

  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 22px;
  width: 85%;
}
#pageResultContainer p, #pageFixContainer p {
  color: rgb(255, 218, 162);
  margin-top: -10px;
  font-size: 22px;
  font-weight: 400;

  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 22px;
  width: 85%;
}
#mainContainer p {
  color: rgb(255, 218, 162);
  margin-top: -10px;
  font-size: 22px;
  font-weight: 400;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  z-index: 4;
  width: 85%;
  text-align: center;
}

#blackBackground {
  position: absolute;
  

  background-color: black;
  z-index: -1;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 2000px;
  opacity: 0.7;
  border-radius: 25px;

}
#button01,
#button02,
#button03,
#button04, #button04back, #leftArrow, #rightArrow, #timeButton, #fullscreenButton, #buttonFixBack, #fixButton, #buttonResultBack, #button04next, #pauseButton, #resultButton, #button04randomize {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: rgb(255, 153, 0);
  background-color: black;
  border: 1.5px solid rgba(255, 153, 0, 0.737);
  z-index: 3;
  cursor: pointer;
  border-radius: 8px;

  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0px 5px;
}

#button01:hover {
  background-color: #2f2f2f;
}
#button01:focus {
  background-color: #5f5f5f;
}
#button02:hover {
  background-color: #2f2f2f;
}
#button02:focus {
  background-color: #5f5f5f;
}
#button03:hover {
  background-color: #2f2f2f;
}
#button03:focus {
  background-color: #5f5f5f;
}
#button04:hover {
  background-color: #2f2f2f;
}
#button04:focus {
  background-color: #5f5f5f;
}
#button04randomize:hover, #button04back:hover, #button04next:hover {
  background-color: #2f2f2f;
}
#button04back:focus, #button04next:focus {
  background-color: #5f5f5f;
}
#button04randomize:active {
  background-color: #5f5f5f;

}
.button01Div {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

}
#numberOfPlayersDropDown {
  color: rgb(255, 153, 0);
  background-color: black;
  border: 1.5px solid rgba(255, 153, 0, 0.737);
  scale: 1.3;
}
#gameTime {
  color: rgb(255, 153, 0);
  background-color: black;
  border: 1.5px solid rgba(255, 153, 0, 0.737);
  scale: 1.3;
}
#nameInputContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  margin-top: 40px;
  scale: 1.3;
  margin-bottom: 60px;
}
#nameInputContainer input {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(79, 79, 79);
  border: 1px solid rgb(170, 170, 170);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.737);
  border-right: 1.5px solid rgba(0, 0, 0, 0.737);
}
::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(255, 255, 255);
}
#currentPlayersDiv {

  
  margin: auto;

}
#nextPlayersDiv {
  border-top: 1.5px solid rgba(255, 153, 0, 0.737);
  width: 80%;
  margin: 20px auto;



}
#nextPlayersDiv p {
  font-size: 16px;
  padding: 5px;
}
#previousMatchDiv {
  font-size: 16px;
  border: 1.5px solid rgba(255, 153, 0, 0.737);
  width: 80%;
  margin: auto;
  margin-top: -15px;
}
#fixpreviousMatchDiv  {
  font-size: 16px;
  border: 1.5px solid rgba(255, 153, 0, 0.737);
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
#previousMatchDiv p, #fixpreviousMatchDiv p  {
  font-size: 16px;
  padding: 5px;
  display: flex;
justify-content: space-between;
}
#points, #points2, #points3, #points4 {
  background-color: black;
  color: orange;
  border: 1px solid rgba(255, 153, 0, 0.737);
  scale: 1.3;
 width: 20px;
 margin: 0px 5px;
 text-align: center;

}
#buttonAcceptScore, #fixbuttonAcceptScore  {
  background-color: black;
  color: orange;
  border: 1px solid rgba(255, 153, 0, 0.737);
margin-right: 0px;
margin-left: 5px;
font-size: 16px;
width: 50px;

}

#pointsInfo01, #fixpointsInfo01  {
  justify-content: center;
  margin: auto;
}
.plusAndMinusButtons {
  background-color: black;
  border: 1px solid rgba(255, 153, 0, 0.737);
color: white;
width: 20px;
scale: 1.3;
}
.plusAndMinusButtons:active, #leftArrow:active, #timeButton:active, #fullscreenButton:active, #rightArrow:active, #pauseButton:active, #fixButton:active, #buttonFixBack:active,#resultButton:active, #buttonAcceptScore:active, #buttonResultBack:active {
  background-color: #5f5f5f;

}
#page4PointsBorder, #fixpage4PointsBorder {
  border-bottom: 1px solid rgba(255, 153, 0, 0.737);
  width: 87%;
  margin: auto;
}
td {
  border: 0.1px solid rgba(255, 153, 0, 0.737);
  
}
/*ramen runt table ligger dock inte kloss med någon annan cell, så här måste jag lägga på 0.5px så det blir 1px totalt*/
/*border-spacing är 0 så att cellerna ligger kloss o kloss.*/
table {
  border-spacing: 0;
  border: 0.1px solid rgba(255, 153, 0, 0.737);
  z-index: 5;
  margin: auto;
  color: rgb(255, 218, 162);
  margin-top: 100px;
  scale: 1.3;
  width: 60%;

}
#scoreFixArrowsDiv {
  display: flex;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}
#leftArrow, #rightArrow{
  background-color: black;
  border: 0.1px solid orange;
  color: white;
  width: 50px;
  height: 30px;
  font-size: 24px;
  text-align: center;
  display: inline-flex;
  align-items: flex-end; 
  justify-content: center;
  scale: 1.2;


}
#fullscreenDiv {
  z-index: 92;
  position:absolute;
  right:6%;
  top:5px;
}
#fullscreenButton {
  margin-top: 50px;
  margin-right: 5%;
  text-align: center;
  scale: 0.9;
  background-color: black;
}
#fulltimeDiv {
  z-index: 91;
  position:absolute;
  right:6%;
  top:5px;
}
#timeButton {
  margin-top: 90px;
  margin-right: 5%;
  text-align: center;
  scale: 0.9;
  background-color: black;
}
#timeLeftP {
  color: rgb(0, 211, 0);
  font-size: 30px;
  margin: auto;
}
#timeLeftSpanText, #timeLeftSpan {
  font-size: 30px;
}

@media (min-width: 768px) {
  #fullscreenButton {
    scale: 1;
  
  }
  #timeButton {
    scale: 1;
    margin-top: 100px;
  
  }
  #scoreFixArrowsDiv {
    width: 250px;
    margin-top: 30px;
  }
  table {
    scale: 1.7;
  width: 30%;

  
  }
  #mainContainer h1 {
    font-size: 120px;
  }
  #mainContainer p {
    font-size: 32px;
    width: 100%;
  }
  .button01Div {
    bottom: 20px;

  }
  #page02Container p {
    width: 100%;

    font-size: 32px;
  }
  #page03Container p {
    width: 100%;

    font-size: 32px;
  }
  #page04Container p {
    width: 100%;

    font-size: 32px;
  }
  #page05Container p {
    width: 100%;

    font-size: 32px;
  }
  #pageResultContainer p, #pageFixContainer p {
    width: 100%;

    font-size: 32px;
  }
  
  #nextPlayersDiv{
    padding: 10px 0px 0px 0px;
  } 
  #nextPlayersDiv p {
    font-size: 16px;
    padding: 10px;
  line-height: 15%;
  } 
  #timeLeftP {
    color: rgb(0, 211, 0);
    font-size: 50px;

  }
  #timeLeftSpanText, #timeLeftSpan {
    font-size: 50px;
    
  }
  #previousMatchDiv {
  font-size: 16px;
  margin: auto;
}
#fixpreviousMatchDiv  {
  font-size: 16px;
  margin: auto;
  margin-top: 50px;
}
#previousMatchDiv p, #fixpreviousMatchDiv p  {
  font-size: 16px;
  justify-content: space-evenly;
  
}#page4PointsBorder, #fixpage4PointsBorder {
  width: 55%;
}
}

@media (max-height: 600px) {
  #blackBackground {

    height: 2000px;

  
  }
  #mainBody {
    background-color: black;
    background: url("./images/bg01.jpg");

  
    
    
  }
  #id03 {
    scale: 0.8;
    margin-top: -60px;
  }

}



    

    
  
  